.activity-whole-page {
  overflow-x: hidden
}

.activity-index-heading{
  margin: 40px;
  text-align: center;
}

.activity-card-pic {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
  transition: transform .5s;
  &:hover {
    transform: scale(1.1);
  }
}

.activity-index-image{
  padding: 0px 0px 0px 0px;
  img {
    border-radius: 2px;
  }
}

.activity-name-review{
  justify-content: space-between;
  display: flex;
}

.activity-category {
  text-align: center;
}

// activity cards and map
.activity-grid-index-with-map {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

// all activity cards
.activity-index-cards{
  display: grid;
  grid-gap: 20px;
}

// each activity card
.activity-index-card{
  display: flex;
  text-align: bottom;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  border-collapse: collapse;
  border-radius: 5px;
  padding: 20px;
}

.activity-index-info{
  padding-left: 10px;
}

// category

.activity-category-cards{
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  transition: margin-left 1s
}

.activity-category-text{
  font-size: 20px;
  background: none;
  border: none;
}

// geocoding map
#map {
  position: sticky;
  top:0;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#map-activity-name{
  font-size: 20px;
}


// Fake Carousel
.middle-position {
  margin-left: -1100px
}

.right-position {
  margin-left: -2200px
}

.wrapper {
  position:relative;

  #carouselTriggerLeft {
    position: absolute;
    top:36px;
    left: 0;
    color: #fff
  }
  #carouselTriggerRight {
    position: absolute;
    top:36px;
    right: 0;
    color: #fff
  }
}








