.activity-index-heading{
  margin: 40px;
  text-align: center;
}


.activity-index-image{
  padding: 0px 0px 0px 0px;
  img {
    padding: 20px 10px;
    border-radius: 15px;
  }
}


// activity cards and map
.activity-grid-index-with-map {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

// all activity cards
.activity-index-cards{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}


// each activity card
.activity-index-card{
  display: flex;
  text-align: bottom;
  background: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-collapse: collapse;
  border-radius: 5px;}

// category

.activity-category-cards{
  margin: 20px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.activity-category-card{
  width: 50px;
}

.activity-category-text{
  font-size: 20px;
  background: none;
  border: none;
}

// geocoding map
#map {
  position: sticky;
  margin-right: 35px;
  top:0;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#map-activity-name{
  font-size: 20px;
}










