.activity-image-map {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  text-align: center;
}

.activity-information {
  text-align: left;
}

.activity-information, .show-ratings, .activity-review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activity-centering {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  text-align: center;
}

.fa-star {
  color: #f2d163;
}
