.booking-plan{
  width: 70%;
  border:  1px #B8B8B8;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px 20px;
  &:hover {
    color: black;
    text-decoration: none;
  }
  position: relative;
}

.booking-index-function{
  a{
  display: flex;
  }
}

.bookings-index-content{
  display: flex;
  grid-gap: 0px;
  flex-direction: row;
  padding: 20px;
  justify-content: space-evenly;
  align-items: flex-end;
  align-content: center;


}

.booking-index-resto{
  display: flex;
  justify-content: space-between;

}

.booking-index-resto{
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.booking-index-activity{
  display: flex;
  flex-direction: column;
}

.booking-cards-sm {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.index-blank-activity{
  width: 280px;
  height: 200px;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dhhorrhuq/image/upload/v1583963688/spring-fed-images-CKYdtIyd_mw-unsplash_iuzicn.jpg);
}

.index-blank-restaurant{
  width: 280px;
  height: 200px;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dhhorrhuq/image/upload/v1583963546/jay-wennington-N_Y88TWmGwA-unsplash_halscl.jpg);
}

.trash{
  color: grey;
  position: absolute;
  top: 23px;
  right: 30px;
}















// .book-index-container{
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   background-color: rgb(254, 255, 254);
//   width: 50%;
//   box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
//   border-radius: 3%;
// }

// .booking-date {
//   text-align: center;
//   font-weight: 700;
//   font-size: 20px;
//   padding-bottom: 10px;
// }

// .book-cards{
//   width: 500px;
//   height: auto;
//   font-family: 'Quicksand', sans-serif;
//   font-weight: 700;
//   border-bottom: solid 1px #bdbdbd;
// }

// .book-cards i{
//   font-size: 18px;
// }

// .b-card-item{
//   margin-bottom:15px;
// }

// .b-photo{
//    border-radius:5px;
//    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
// }

// .plan-confirm {
//   font-weight: 700;
// }

