

.boooking-activity-restaurant{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-top: 40px;
}

.card-booking-activity{
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 400px;
}


.card-booking-restaurant{
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 400px;
}


.booking-activity-info{
  padding: 20px 20px;
}

.booking-restaurant-info{
  padding: 20px 20px;
}

.booking-confirm{
    padding: 20px 20px;
    margin: 0px 20px;
    font-weight: bold;
    height: 250px;
    border: solid 3px #B8B8B8;
    border-radius: 10px;
}

#map{
  // text-align: center;
}
