// Specific CSS for your home-page
body {
  background-color: #f4f9f9;
}

h1, h2, h3 {
  font-family: 'Caveat', cursive;
}

h4 {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  font-weight: 700;
}

p {
  font-family: 'Roboto', sans-serif;
}
