// Import page-specific CSS files here.
@import "home";
@import "activity_index";
@import "activity_show";
@import "login";
@import "booking_index";
@import "booking_show";
@import "restaurant_index";
