<h1> Booking Index Page </h1>

<div class= "book-index-container">
  <% @bookings.each do |booking| %>
  <div class = "book-cards">
    <p><%= booking.restaurant.name %></p>
    <p><%= booking.activity.name %></p>
    <%= link_to "booking details", booking_path(booking) %>
    <%= link_to booking_path(booking), method: :delete do%>
      <i class="fas fa-trash"></i>
    <% end %>
  </div>
</div>

<% end %>
