<div class="banner mb-5">
  <h1>Dating Guru</h1>
  <p><em>Hopeless romantics</em></p>
  <button type="button" class="btn btn-outline-light home-button"><%= link_to "Discover", activities_path %></button>
</div>


<div class="container">

<div class="description mb-5">
  <h2 class="mb-4">How to use.</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam at hic nulla necessitatibus modi, ipsam eaque sed beatae error consectetur tenetur ducimus iure fuga saepe, deserunt laudantium reprehenderit eligendi cum.</p>
</div>

<hr>

<h2>Choose a restaurant.</h2>
<!-- restaurant dates -->
<div class="card-deck mb-5">
  <div class="card w-75">
    <img class="card-img-top" src="https://res.cloudinary.com/dhhorrhuq/image/upload/v1583257930/bt5w5gamw14mj0syztho4ma4oed5.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Preto</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer text-center">
      <a href="#" class="btn btn-info">More</a>
    </div>
  </div>

  <div class="card w-75">
    <img class="card-img-top" src="https://res.cloudinary.com/dhhorrhuq/image/upload/v1583257941/0ep1k7sf9n031vbli0601daka83z.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Burger and Lobster</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer text-center">
      <a href="#" class="btn btn-info">More</a>
    </div>
  </div>

  <div class="card w-75">
    <img class="card-img-top" src="https://res.cloudinary.com/dhhorrhuq/image/upload/v1583257934/xf1ku0tl09f8agnzlz1ys1tw3tym.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Green Papaya</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer text-center">
      <a href="#" class="btn btn-info">More</a>
    </div>

  </div>
    <div class="card w-75">
    <img class="card-img-top" src="https://res.cloudinary.com/dhhorrhuq/image/upload/v1583257936/bjr3tjr6ep72hfc3v727bmx02lmb.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Sushi Salsa</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer text-center">
      <a href="#" class="btn btn-info">More</a>
    </div>
  </div>
</div>

<hr>

<h2>Choose an activity.</h2>

<!-- activity dates -->
<div class="card-deck mb-5">
  <div class="card w-75">
    <img class="card-img-top" src="https://res.cloudinary.com/dhhorrhuq/image/upload/v1583257930/bt5w5gamw14mj0syztho4ma4oed5.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Preto</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer text-center">
      <a href="#" class="btn btn-info">More</a>
    </div>
  </div>

  <div class="card w-75">
    <img class="card-img-top" src="https://res.cloudinary.com/dhhorrhuq/image/upload/v1583257941/0ep1k7sf9n031vbli0601daka83z.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Burger and Lobster</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer text-center">
      <a href="#" class="btn btn-info">More</a>
    </div>
  </div>

  <div class="card w-75">
    <img class="card-img-top" src="https://res.cloudinary.com/dhhorrhuq/image/upload/v1583257934/xf1ku0tl09f8agnzlz1ys1tw3tym.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Green Papaya</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer text-center">
      <a href="#" class="btn btn-info">More</a>
    </div>

  </div>
    <div class="card w-75">
    <img class="card-img-top" src="https://res.cloudinary.com/dhhorrhuq/image/upload/v1583257936/bjr3tjr6ep72hfc3v727bmx02lmb.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Sushi Salsa</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer text-center">
      <a href="#" class="btn btn-info">More</a>
    </div>
  </div>
</div>

</div>

