<div class="banner mb-5">
  <h1>Dating Guru</h1>
<!--   <p><em>Hopeless romantics</em></p> -->
  <button type="button" class="btn btn-outline-light home-button"><%= link_to "Discover", activities_path %></button>
</div>

<div class="container">
  <div class="description mb-5">
    <h2 class="mb-4">About Dating Guru.</h2>
    <p>Planning dates doesnt have to be a chore, let us help you. Once you have chosen a restaurant or activity, your next suggestion will be within close proximity and Dating Guru will then calculate your route and how much you may be spending! </p>
  </div>
  <hr>

    <h3 class="mb-4">Choose an activity.</h3>
<!-- restaurant dates -->
    <div class="card-deck mb-5">
      <div class="card w-75">
        <img class="card-img-top" src="https://aestheticamagazine.com/wp-content/uploads/2013/07/blog-13.jpg" alt="Card image cap">

        <div class="card-body">
          <h5 class="card-title">Saachi Gallery</h5>
          <p class="card-text">The Saatchi Gallery is a London gallery for contemporary art, opened by Charles Saatchi in 1985 in order to exhibit his collection to the public.</p>
        </div>

        <div class="card-footer text-center">
          <a href="#" class="btn btn-dark btn-md active">More</a>
        </div>
      </div>

      <div class="card w-75">
        <img class="card-img-top" src="https://cdn.foodism.co.uk/featured_image/5c40a3a29f6df.jpeg" alt="Card image cap">

        <div class="card-body">
          <h5 class="card-title">London Cookery School</h5>
          <p class="card-text">Looking for Dim Sum Classes in London? Or Sushi Classes in London? We are London's premier Asian Cuisine Cookery School established in 2012.</p>
        </div>

        <div class="card-footer text-center">
          <a href="#" class="btn btn-dark btn-md active">More</a>
        </div>
      </div>

    <div class="card w-75">
      <img class="card-img-top" src="https://friendsoflongfordpark.org.uk/wp-content/media/2018/04/Longford-Park-Tennis1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Victoria Park Tennis</h5>
        <p class="card-text">Tennis is a racket sport that can be played individually against a single opponent or between two teams of two players each.</p>
      </div>
      <div class="card-footer text-center">
        <a href="#" class="btn btn-dark btn-md active">More</a>
      </div>

      </div>
        <div class="card w-75">
        <img class="card-img-top" src="https://assets.londonist.com/uploads/2017/10/i875/12745509_1116293381734273_8248552414167456146_n.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Blues Bar</h5>
          <p class="card-text">Blues club hosting both local and American acts nightly, with jam sessions on Monday and Sunday.</p>
        </div>
        <div class="card-footer text-center">
          <a href="#" class="btn btn-dark btn-md active">More</a>
        </div>
      </div>
    </div>

<hr>

<h3 class="mb-4">Choose a restaurant.</h3>

<!-- activity dates -->
  <div class="card-deck mb-5">
    <div class="card w-75">
      <img class="card-img-top" src="https://www.preto.co.uk/wp-content/uploads/2017/06/home1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Preto</h5>
        <p class="card-text">Preto is a dining experience like no other. Our succulent meats are carved table side by our Passadors.</p>
      </div>
      <div class="card-footer text-center">
        <a href="#" class="btn btn-dark btn-md active">More</a>
      </div>
    </div>

    <div class="card w-75">
      <img class="card-img-top" src="https://res.cloudinary.com/dhhorrhuq/image/upload/v1583257941/0ep1k7sf9n031vbli0601daka83z.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Burger and Lobster</h5>
        <p class="card-text">London born and bread, our bars and restaurants serve wild, live Atlantic lobsters, prime cut and aged beef burgers, and shake up a tempting cocktail list.</p>
      </div>
      <div class="card-footer text-center">
        <a href="#" class="btn btn-dark btn-md active">More</a>
      </div>
    </div>

    <div class="card w-75">
      <img class="card-img-top" src="https://res.cloudinary.com/dhhorrhuq/image/upload/v1583257934/xf1ku0tl09f8agnzlz1ys1tw3tym.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Green Papaya</h5>
        <p class="card-text">Home made pastries, vegan vegetarian foods available. Fundraising event for charity. doner kebab tantuni, kunafa, tea coffee, pastries, lahmacun.</p>
      </div>
      <div class="card-footer text-center">
        <a href="#" class="btn btn-dark btn-md active">More</a>
      </div>

    </div>
      <div class="card w-75">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1553621042-f6e147245754?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1525&q=80" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Sushi Salsa</h5>
        <p class="card-text">Contemporary bar/restaurant with a waterside terrace and a menu of Japanese food and cocktails.</p>
      </div>
      <div class="card-footer text-center">
        <a href="#" class="btn btn-dark btn-md active">More</a>
      </div>
    </div>
  </div>

</div>

