<h2>Restaurant Index Page</h2>


<% @restaurants.each do |restaurant| %>
<%= restaurant.category %>
<%#= restaurant.name %>
<%= cl_image_tag restaurant.photo.key, height: 350, width: 250, crop: :fill %>
<%= link_to restaurant.name, restaurant_path(restaurant) %>
<% end %>
