
// .btn-date.dropdown-toggle {
//   color: #FFF;
//   background-color: #495057;
//   border-color: #495057;
// }

.add-booking-button {
  border: solid 2px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
}

.arrows {
  font-size: 50px;
  color: lightgrey;
  opacity: 0.8;
  position: absolute;
  z-index: 1;
}

.btn-dark:hover {
  margin-left: 100px;
  }

// wrapper arrows/chevrons shadow
.fa-chevron-left{
background-color: none;
z-index: 1;
padding: 36px 0px;
  &:hover {
  background-color: rgba(73, 80, 87, 0.5);
  }
}

.fa-chevron-right{
background-color: none;
z-index: 1;
padding: 36px 0px;
  &:hover {
  background-color: rgba(73, 80, 87, 0.5);
  }
}

