
// .btn-date.dropdown-toggle {
//   color: #FFF;
//   background-color: #495057;
//   border-color: #495057;
// }
.add-booking-button {
  border: solid 2px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
}

.arrows {
  font-size: 50px;
  color: lightgrey;
  opacity: 0.8;
  position: absolute;
  z-index: 1;
}

.btn-dark:hover {
    background-color: #525151 !important;
}


.small-booking-button {
  display: flex;
  align-items: center;
  border: solid 1px;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.booking-button {
 width:200px;
 border: solid 1px;
  border-radius: 5px;
  padding: 5px 10px;
  display : flex;
  margin-bottom: 10px;
}

.b-photo {
  margin-right: 10px;
}

.b-name {
  display: flex;
  align-items: center;
}

.b-card-item {
  align-items: center;
}

