.navbar-lewagon {
  justify-content: space-between;
  background: rgba(26, 23, 23, 0.9);
  position: fixed;
  text-decoration: none;
  width: 100%;
  position: inherit;
}

.nav-item, nav {
  padding: 0 10px;
}

.navbar-lewagon a:hover {
  background: #ddd;
  color: grey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

