.navbar-lewagon {
  background: rgba(26, 23, 23, 0.9);
  position: fixed;
  text-decoration: none;
  width: 100%;
  position: inherit;
  z-index: 1;
  transition: transform .5s;
}

.navbar-lewagon a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
}

.navbar-nav .nav-link {
  color: white;
}

.nav-item, nav {
  padding: 0 10px;
}

.navbar-lewagon a:hover {
  background: none;
  transform: scale(1.04);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
